<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regist</title>
    <link rel="stylesheet" href="/css/Regist.css">
    <link rel="stylesheet" href="/css/font.css">
<!--    <link rel="stylesheet" href="/css/LoginModal.css">-->
</head>
<body>
<div class="container">
    <div class="left">
        <div class="menu">
             <a href="/Rewrite">회원정보<span style="font-family: GreateVibes;font-size: 30px;"><u>Information</u></span></a><br>
             <a href="/WishList">찜목록<span style="font-family: GreateVibes;font-size: 30px;"><u>WishList</u></span></a><br>
             <a href="/Mycomment">나의 댓글<span style="font-family: GreateVibes; font-size: 30px;"><u>My Comment</u></span></a><br>
             <a href="/Regist">레시피 등록<span style="font-family: GreateVibes; font-size: 30px;"><u>Registration</u></span></a><br>
             <a href="/Myrecipe">나의 레시피<span style="font-family: GreateVibes; font-size: 30px;"><u>My Recipe</u></span></a>
        </div>
        <div class="logo">
            <a href="/main"><img src="/image1/MypageIcon/logoUpdate.png"></a>
        </div>
    </div>
    <div class="rigcontainer">
        <h2>레시피 등록</h2>
        <div class="right">
            <form action="/recipe/create" method="post" enctype="multipart/form-data">
                <div class="info1">
                    <div class="info">
                        <label>레시피 제목</label>
                        <input type="text" name="recipeName" required><br>
                        <label>인원</label>
                        <select name="portion">
                            <option>1인분</option>
                            <option>2인분</option>
                            <option>3인분</option>
                            <option>4인분</option>
                        </select><br>

                        <!-- <label>카테고리</label>
                        <select>
                          <option>한식</option>
                        </select>
                        <select>
                          <option>탕</option>
                        </select>
                        <br> -->

                        <label>소요시간</label>
                        <select name="runTime">
                            <option>10분</option>
                            <option>20분</option>
                            <option>30분</option>
                            <option>40분</option>
                            <option>50분</option>
                            <option>60분</option>
                        </select> <br>

                        <label>난이도</label>
                        <select name="cookLevel">
                            <option>쉬움</option>
                            <option>보통</option>
                            <option>어려움</option>
                        </select> <br>
                    </div>

                    <div class="recipe-image">
                        <img src="/image1/MypageIcon/bap.png" alt="Click to change image" id="toggleImage1" class="clickable-img" data-input-id="imageInput">
                        <input type="file" id="imageInput" name="File" style="display: none;" accept="image/*" required>
                    </div>
                </div>

                <div class="ingredients-section">
                    <h3>재료</h3>
                    <div id="box">
                        <div id="ingredient">
                            <input type="text" name="ingredients[]" placeholder="재료 이름" required>
                            <input type="text" name="quantities[]" placeholder="수량" required>
                        </div>
                    </div>
                    <input type="button" value="+" onclick="add_textbox()">
                </div>

                <div class="steps-section">
                    <h3>조리순서</h3>
                    <div id="box1">
                        <div class="step">
                            <img src="/image1/MypageIcon/bap.png" alt="Click to change image" id="toggleImage2" class="clickable-img" data-input-id="imageInput1">
                            <input type="file" id="imageInput1" name="stepFiles[]" style="display: none;" accept="image/*" required>
                            <textarea name = "stepWays[]" required></textarea>
                        </div>
                    </div>
                    <input type="button" value="+" onclick="add_textbox1()">
                </div>

                <div class="buttons">
                    <button type="submit">등록</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="lock">
    <a th:if="${session.customer}" href="/logout"><img src="/image1/MypageIcon/Logout.png"></a>
</div>


<!--로그인 모달-->
<!--<div class="loginModal">-->
<!--    <div class="Login-box">-->
<!--        <a id="Login-box-Logo" href="/main"><img src="/image1/MainIcon/main_logo.png" /></a>-->
<!--        <form class="login-form-container">-->
<!--            <label>이메일(아이디)</label><br>-->
<!--            <input type="email"/><br>-->
<!--            <label>비밀번호</label><br>-->
<!--            <input type="password"/>-->
<!--            <p id="FindIdPw">아이디 / 비밀번호 찾기</p><br>-->
<!--            <div id="social-login-block">-->
<!--                <a class="social-login" href="#"><img src="/image1/MainIcon/Kakao.jpg"/></a>-->
<!--                <a class="social-login" href="#"><img src="/image1/MainIcon/Google_logo.png"/></a>-->
<!--                <a class="social-login" href="#"><img src="/image1/MainIcon/Naver_logo.png"/></a>-->
<!--            </div>-->
<!--            <button class="login-button" type="submit">로그인</button>-->
<!--        </form>-->

<!--        <form class="find-form-container">-->
<!--            <div class="id-pw-button">-->
<!--                <span class="id-button">아이디</span>-->
<!--                <span class="pw-button">패스워드</span>-->
<!--            </div>-->
<!--            <div class="id-form-container">-->
<!--                <label>이름</label>-->
<!--                <input type="text"/>-->
<!--                <label>휴대폰</label>-->
<!--                <input type="text"/>-->
<!--            </div>-->
<!--            <div class="pw-form-container">-->
<!--                <label>이름</label>-->
<!--                <input type="text"/>-->
<!--                <label>휴대폰</label>-->
<!--                <input type="text"/>-->
<!--                <label>이메일(아이디)</label>-->
<!--                <input type="text"/>-->
<!--            </div>-->
<!--            <button class="find-button">찾기</button>-->
<!--        </form>-->
<!--        <p>아직 아이디가 없으신가요?<br> 회원가입으로 더 많은 요리정보를 얻으세요!</p>-->
<!--        <a href="./main#signup-area" class="go-to-join-page">회원가입</a>-->
<!--        <p class="find-to-login">이미 회원이신가요? <span>로그인</span></p>-->
<!--    </div>-->
<!--</div>-->

<script src="/js/regist.js"></script>
<!-- <script src="/js/profile.js"></script> -->
<!--<script src="/js/loginModal.js"></script>-->
</body>
</html>