<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myrecipe</title>
    <link rel="stylesheet" href="/css/WishList.css">
    <link rel="stylesheet" href="/css/font.css">
<!--    <link rel="stylesheet" href="/css/LoginModal.css">-->
</head>
<body>
<div class="container">
    <div class="left">
        <div class="menu">
             <a href="/Rewrite">회원정보<span style="font-family: GreateVibes;font-size: 30px;"><u>Information</u></span></a><br>
             <a href="/WishList">찜목록<span style="font-family: GreateVibes;font-size: 30px;"><u>WishList</u></span></a><br>
             <a href="/Mycomment">나의 댓글<span style="font-family: GreateVibes; font-size: 30px;"><u>My Comment</u></span></a><br>
             <a href="/Regist">레시피 등록<span style="font-family: GreateVibes; font-size: 30px;"><u>Registration</u></span></a><br>
             <a href="/Myrecipe">나의 레시피<span style="font-family: GreateVibes; font-size: 30px;"><u>My Recipe</u></span></a>
        </div>
        <div class="logo">
            <a href="./main"><img src="/image1/MypageIcon/logoUpdate.png"></a>
        </div>
    </div>

    <div class="rigcontainer">
        <div class="right">
            <h2>찜 목록</h2>
            <div class="comments">

                <div th:each="wish : ${WishList}" class="comment">
                    <a th:href="@{/inform/{id}(id=${wish.recipe.recipeId})}">
                        <img th:src="@{${wish.recipe.recipeImg}}">
                    </a>
                    <div class="buttonsRelative">
                            <form method="post" th:action="@{/wish/delete/{id}(id=${wish.wishListId})}" class="deleteForm">
                                <button type="submit" class="deleteBtn"> 삭제</button>
                            </form>
                        <div class="comment-text">
                            <p th:text="'레시피: ' + ${wish.recipe.recipeName}"></p>
                            <p th:text="'난이도: ' + ${wish.recipe.cookLevel}"></p>
                            <p th:text="'인분 정보: ' + ${wish.recipe.portion}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="lock">
    <a th:if="${session.customer}" href="/logout"><img src="/image1/MypageIcon/Logout.png"></a>
</div>
</div>
<script src="/js/delete.js"></script>
<script>
    window.onload = function() {

      const wishDelete = '[[${wishDelete}]]';

      setTimeout(function() {
          if (wishDelete) {
            alert(wishDelete);
          }
      }, 100);
    };
</script>
</body>
</html>
