*{
  padding:0px;
  margin:0px;
}
a{
  color:#000;
  text-decoration: none;
}
.logoBackGround{
  text-align:center;
}
.logoBackGround img{
  width: 10%;
  height: 8%;
  margin: 20px;
}
#login{
  position: absolute;
  top:7%;
  right:4%;
  width:3%;
  cursor: pointer;
}
#logout{
  position: absolute;
  top:8%;
  right:5%;
  width:3%;
  cursor: pointer;
}
#mypageicon{
  position: absolute;
  top: 8%;
  right: 9%;
  width: 3%;
  cursor: pointer;
}

#recipeIcon{
  position: absolute;
  top: 4%;
  left: 3%;
  width: 4%;
  cursor: pointer;
}